#register {
    display: grid;
}
#register>.inner {
    width: 40%;
    max-width: 650px;
    min-width: 400px;
    background-color: #fff;
    margin: 55px auto;
    padding: 55px 74px;
    border-radius: 1em;
    position: relative;
}
#register_form .field .block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}
#register_form .field label {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 22px;
}
#register_form .field .image {
    background-color: #47e3a13b;
    border-radius: 1em;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
}
#register_form .field input {
    border: none;
    border-bottom: 2px solid #F3F3F3;
    outline: none;
    font-size: 14px;
    padding: 8px 0;
}
#register_form .field .block p {
    margin: 5px 0;
    margin-bottom: -1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #202046;
    font-size: 12px;
}
#register_form .field input::placeholder {
    color: #9CA2AA;
    font-weight: 300;
}
#register_form .field {
    margin: 15px 0;
}
#register_form .card {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: -16px;
    column-gap: 5%;
}
#register_form .field p.terms a {
    color: #47E3A1;
    text-decoration: none;
    font-size: 13px;
}
#register_form .field p.terms {
    color: #9CA2AA;
    font-size: 12px;
    display: grid;
    grid-column: 2;
    text-transform: inherit;
}
#register_form .field label.terms .block {
    display: grid;
    grid-auto-flow: column;
}
#register_form .field .terms input {
    margin: 3px 10px;
    width: 14px;
    height: 14px;
    margin-left: 0;
}

#register_form .field .submit input {
    background-color: #47E3A1;
    color: #fff;
    width: 100%;
    height: 52px;
    border-radius: 0.9em;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
#register_form .field label.submit {
    width: 100%;
    display: unset;
}