.field .block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}
.field label {
    display: grid;
}
.field.icon label {
    grid-template-columns: max-content auto;
    column-gap: 22px;
}
.field .block .inputinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.field .image {
    background-color: #47e3a13b;
    border-radius: 1em;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
}
.field .input {
    border: none;
    border-bottom: 2px solid #F3F3F3;
    outline: none;
    font-size: 14px;
    padding: 8px 0;
    width: 100%;
}
.field .block .inputinfo > p {
    margin: 5px 0;
    margin-bottom: -1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #202046;
    font-size: 12px;
}
.field .block .inputcard {
    display: flex;
}
.field .block p.inputPrefix {
    bottom: 0;
    padding: 8px 0;
    font-size: 14px;
    padding-bottom: 12px;
    margin: 0;
}
.field.extrasize p.inputPrefix, .field.extrasize .input {
    font-size: 32px;
}

.field .input::placeholder {
    color: #9CA2AA;
    font-weight: 300;
}
.field {
    margin: 15px 0;
    margin-bottom: 0;
}
.card {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
}
.field p.terms a {
    color: #47E3A1;
    text-decoration: none;
    font-size: 13px;
}
.field p.terms {
    color: #9CA2AA;
    font-size: 12px;
    display: grid;
    grid-column: 2;
    text-transform: inherit;
}
.field label.terms .block {
    display: grid;
    grid-auto-flow: column;
}
.field .terms .input {
    margin: 3px 10px;
    width: 14px;
    height: 14px;
    margin-left: 0;
}





/* invalid */
.field.invalid .image {
    background-color: #f4433633;
}
.field.invalid .block p {
    color: #f44336;
}
.field.invalid .input {
    border-color: #f4433659;
}
.field.invalid .block p.title {
    display: none;
}
.field .block p.message {
    display: none;
}
.field.invalid .block p.message {
    display: block;
}


@media (max-width: 768px) {
    .field .input {
        font-size: 14px!important;
    }
    .field p {
        font-size: 11px!important;
    }
    .field .image object {
        width: 23px;
        height: auto;
    }
    .field .image {
        width: 44px;
        height: 44px;
    }
}