#list .head p {
    margin: 0;
    color: #202046;
}
#list .head {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
#list hr {
    border: .1px solid #F3F3F3;
    background-color: #F3F3F3;
    margin: 14px 0;
}
@media (max-width: 400px) {
    #list .head p {
        font-size: .9rem;
    }
}
#list .head .pClick {
    color: var(--green);
    text-decoration: none;
    font-size: 13px;
}
#list .body .item span {
    font-size: 11px;
    color: #20204675;
}
#list .body .item p {
    margin: 0;
    color: #202046;
}
#list .body {
    display: grid;
    row-gap: 3px;
}
#list .body a {
    text-decoration: none;
}
#list .body .item {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 15px;
    transition: all .3s;
    cursor: pointer;
    padding: 5px;
    border-radius: .5em;
}
#list .body .item .data {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
#list .body .item .data .box:nth-child(2) {
    text-align: right;
}

#list .body .item:hover {
    background-color: #00000012;
}

/* table */

#list .detailedbox.display {
    display: grid;
    place-items: center;
}
#list .detailedbox table td, #list .detailedbox table th {
    /* padding: 5px 16px; */
    text-align: left;
}
#list .detailedbox table tr {
    display: grid;
    grid-template-columns: 18% 18% 21% 43%;
}
#list.table table {
    display: grid;
}




/* pagination */
.pagination {
    display: flex;
    list-style: none;
    column-gap: 3px;
    padding: 0;
    margin: 0 auto;
}
.pagination li:hover {
    background-color: #3ccd90;
}
.pagination li {
    width: 20px;
    height: 20px;
    background-color: var(--green);
    color: #fff;
    display: grid;
    place-content: center;
    padding: 3px;
    border-radius: .3em;
    cursor: pointer;
    transition: all .3s;
}
.pagination li.active {
    background-color: #32bc82;
}




